@model ECommerceApp.PL.Models.ResetPasswordViewModel

@{
    ViewData["Title"] = "Reset Password";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-6">
		<form asp-action="ResetPassword">
			<div asp-validation-summary="All"></div>
			<input asp-for="Email" type="hidden" />
			<input asp-for="Token" type="hidden" />
			<input class="text" type="password" asp-for="@Model.Password" placeholder="Password" required="">
			<input class="text w3lpass" type="password" asp-for="@Model.ConfirmPassword" placeholder="ConfirmPassword" required="">
			<input type="submit" value="RESETPASSWORD">
		</form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
